@import url('https://fonts.googleapis.com/css2?family=Judson:wght@700&display=swap');






* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

}

body {
    background-color: #161616;
}

.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.hide-scroll::-webkit-scrollbar {
    display: none;
}


.side-padding {
    padding-left: 240px;
    padding-right: 240px;
}


.page-width {
    max-width: 1920px;
    margin: auto;
}



h1 {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 116.667% */
}

p {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}



















/* ====================================================================header css starts here=================================================== */








.active-nav {
    color: #DD7F00 !important;


}


header a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header {
    padding: 40px 0;
    background-color: #161616;
    height: 147px;
    display: flex;
    justify-content: space-between;
}

header nav {

    margin-right: 250px;

}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-around;
}

ul a {
    color: white;
}


ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    background-color: #161616;
    top: 147px;
    left: 0;
    height: calc(100vh - 147px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}

/* ========================================================================================header css ends here===================================== */


/* ===========================================================================about section css starts here========================================= */


.about-section {
    background-color: #161616;
    position: relative;
    margin-bottom: 150px;
}




.about-section .yellow-section {
    background: url(./img/yellow-ractangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 55px;
    padding-bottom: 50px;
}

.yellow-section p {
    max-width: 600px !important;
    padding-top: 0 !important;

}


.about-section p {
    max-width: 730px;
    padding-top: 30px;
}



.accordion {

    color: #010101;
    ;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {

    color: #DD7F00;
}

.panel {
    /* padding: 0 18px; */
    display: none;

    overflow: hidden;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #010101;

    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
    color: #DD7F00;
}

.white-accordian-box {
    border-radius: 10px;
    background: #FFF;
    max-width: 548px;
    height: auto;
    position: absolute;
    right: 14%;
    top: 50px;
}

.star {
    position: absolute;
    left: 50%;
    bottom: 5px;
}

.white-accordian-box button {
    color: #010101;
    font-family: 'Judson', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid#E4E4E4;
    border-radius: 10px;
    background-color: #FFF !important;
}

.white-accordian-box p {
    color: var(--black, #333);
    font-family: 'Judson', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 40px;
    /* 166.667% */
    border-bottom: 1px solid#E4E4E4;

}


/* ===========================================================================about section css ends here========================================= */


/* ===================================================================product-section start here=========================================== */

.product-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
}

.product-main a {
    background-color: #DD7F00;
    padding: 14px 35px;
    color: #161616;
    font-family: 'Judson', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 10px;
}

.product-main h2 {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 116.667% */
}

.product-boxes {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.product-boxes h3 {
    padding: 10px 30px;
    border: 2px solid#FFF;
    border-radius: 10px;
    max-height: 50px;
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.product-boxes img {
    width: 50px;
    height: 50px;
}


.product-box-1 {
    background: url(./img/p11111111.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.product-box-2 {
    background: url(./img/p22222222222.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.product-box-3 {
    background: url(./img/p333333333.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* ====================================================================product section ends here======================================= */

/* ==================================================================testimonial section starts here========================================= */
.testimonial-main {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding-right: 240px;
    margin-bottom: 150px;
}

.testimonial-main p {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 120% */
    padding-top: 5px;
}

.right-section-testi p {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}


.right-section-testi img {
    margin-top: 145px;
}


.right-section-testi .user-numbers {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;

}


.user-numbers p {
    color: #CBCBCB;
    font-family: 'Judson', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.testimonial-main h2 {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.swiper-pagination-bullet-active {
    background-color: #DD7F00 !important;
    scale: 2 !important;

}

.swiper-pagination-bullet {
    scale: 1.3;

}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 16px) 0 !important;
    display: block;
}



.comma {
    margin-bottom: 30px;
}

.star-rating {
    margin-top: 40px;
}

.swiper {
    width: 1080px;
    height: 600px;
    background: #474747;
    border-radius: 0px 10px 10px 0px;
}

.swiper-slide {

    font-size: 18px;

    display: flex !important;
    padding: 50px 50px 50px 240px;

    flex-direction: row;
    gap: 48px;
}



.swiper-slide img {
    display: block;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    height: auto;
}

/* =================================================================================.testimonial css ends here======================================= */







/* ================================================================================faq section starts here================================= */
.faq-section-main {
    background-color: #474747;
    border-radius: 10px 0 0 10px;
    padding: 50px;
    margin-left: 240px;
    display: flex;
    flex-direction: row;
    gap: 75px;
    padding-right: 190px;
    margin-bottom: 150px;
}

.faq-section-main img {
    max-width: 560px;
    max-height: 500px;
    border-radius: 10px;
}

.faq li {
    padding: 10px;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px !important;
}


.faq li {
    background: transparent;
    font-weight: bold;
    font-size: 120%;
    border-bottom: 1px #4F4F4F solid;
    cursor: pointer;
}

.faq li.a {
    background: transparent;
    display: none;
    color: #fff;
}

.faq-section-main h2 {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.faq-section-main .q {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.faq-section-main .a {
    color: #A5A5A5;
    font-family: 'Judson', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

/* =======================================================================faq section ends here================================= */



/* =================================================================client section starts here=================================== */


.client-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;

}



.client-main-section h2 {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    padding-bottom: 5px;
    /* 116.667% */
}


.clients-parent-box {
    overflow: auto;
    margin-top: 50px;
    width: 100%;
    border-bottom: 1px solid #474747;
    border-top: 1px solid #474747;
}



.client-main-section .clients-line {

    white-space: nowrap;

    /* width: 98vw; */

    gap: 60px;
    padding: 50px 50px 50px 240px;



}

.client-main-section .clients-line img {
    margin-right: 50px;
}

/* ---------------------------------====================================client section ends here======================= */



.head-main {
    background: url(./img/head-lableimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 127px 0;
    margin-bottom: 150px;

}

.head-main h1 {
    color: #DD7F00 !important;
}





/* =========================================================================footer section starts here=========================== */


footer{
    position: relative;
}

.footer-main {
    background-color: #242424;
    margin-top: 233px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}


.logo-content {
    max-width: 760px;
}

.address-content {
    max-width: 276px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.address-content img {
    padding-right: 15px;

}


.footer-main h3 {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 5px;
}


.footer-main a {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}









.footer-main p {
    display: flex;


    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */

    align-items: flex-start;
}


.left-footer-section {
    display: flex;
    flex-direction: column;
}

.bottom-details {
    display: flex;
    flex-direction: row;
    gap: 124px;

}


.support-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quick-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-footer-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}







.right-footer-form{
    position: absolute;
    top: -233px;
    right: 240px;
}


.contact-form {

    max-width: 440px;
    padding: 35px;

    border-radius: 10px;
    background-color: #474747;

}

.contact-form h2 {
    margin-bottom: 25px;
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #4D4D4D;
    border: none;
    color: #B5B5B5;
    font-family: 'Judson', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.contact-form input[type="file"] {
    margin-bottom: 15px;
    color: #A5A5A5;
    font-family: 'Judson', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 200% */
}

.contact-form button {
    display: block;
    
    padding: 13px  39px;
    background-color: #DD7F00;
   
    border: none;
    border-radius: 10px;
    cursor: pointer;
    max-width: fit-content;
    color: #161616;
font-family: 'Judson',sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.contact-form h5 {
    color: #FFF;
    font-family: 'Judson';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 150% */
    margin-bottom: 15px;
}