@import url('https://fonts.googleapis.com/css2?family=Judson:wght@700&display=swap');






* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

}

body {
    background-color: #161616;
}


.side-padding {
    padding-left: 240px;
    padding-right: 240px;
}


.page-width {
    max-width: 1920px;
    margin: auto;
}



h1 {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 116.667% */
}

p {
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}



















/* ====================================================================header css starts here=================================================== */




header a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Judson', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header {
    padding: 40px 0;
    background-color: #161616;
    height: 147px;
    display: flex;
    justify-content: space-between;
}

header nav {

    margin-right: 250px;

}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-around;
}

ul a {
    color: white;
}


ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    background-color: #161616;
    top: 147px;
    left: 0;
    height: calc(100vh - 147px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}

/* ========================================================================================header css ends here===================================== */


/* ===========================================================================about section css starts here========================================= */


.about-section {
    background-color: #161616;
    position: relative;
    margin-bottom: 150px;
}




.about-section .yellow-section {
    background: url(./img/yellow-ractangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 55px;
    padding-bottom: 50px;
}

.yellow-section p {
    max-width: 600px !important;
    padding-top: 0 !important;

}


.about-section p {
    max-width: 730px;
    padding-top: 30px;
}



.accordion {

    color: #010101;
    ;
    cursor: pointer;
   padding-top: 30px;
   padding-bottom: 10px;
   padding-left: 40px;
   padding-right: 40px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {

    color: #DD7F00;
}

.panel {
    /* padding: 0 18px; */
    display: none;

    overflow: hidden;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #010101;
    
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
    color: #DD7F00;
}

.white-accordian-box {
    border-radius: 10px;
    background: #FFF;
    max-width: 548px;
    height: auto;
    position: absolute;
    right: 14%;
    top: 50px;
}

.star{
    position: absolute;
    left: 50%;
    bottom: 5px;
}

.white-accordian-box button {
    color: #010101;
    font-family: 'Judson', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
border-bottom: 1px solid#E4E4E4;
    border-radius: 10px;
    background-color: #FFF !important;
}

.white-accordian-box p {
    color: var(--black, #333);
    font-family: 'Judson', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  padding: 10px 40px;
    /* 166.667% */
    border-bottom: 1px solid#E4E4E4;
    
}













/* ===========================================================================about section css ends here========================================= */